body {
    width: 98.8%;
    margin: 0.6%;
    background: rgba(242, 242, 242, 0.58);
}

.link-hot {
    color: #009688;
    cursor: pointer;
}

.layuimini-container {
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    background-color: #ffffff
}

.layuimini-main {
    margin: 10px 10px 10px 10px;
}

/**必填红点 */
.layuimini-form > .layui-form-item > .required:after {
    content: '*';
    color: red;
    position: absolute;
    margin-left: 4px;
    font-weight: bold;
    line-height: 1.8em;
    top: 6px;
    right: 5px;
}

.layuimini-form > .layui-form-item > .layui-form-label {
    width: 110px !important;
}

.layuimini-form > .layui-form-item > .layui-input-block {
    margin-left: 150px !important;
}

.layuimini-form > .layui-form-item .layui-input-inline > tip {
    display: inline-block;
    margin-top: 10px;
    line-height: 10px;
    font-size: 10px;
    color: #a29c9c;
}

.layuimini-form > .layui-form-item > .layui-input-block > tip {
    display: inline-block;
    margin-top: 10px;
    line-height: 10px;
    font-size: 10px;
    color: #a29c9c;
}

.layuimini-form > .layui-form-item .required:after {
    content: '*';
    color: red;
    position: absolute;
    margin-left: 4px;
    font-weight: bold;
    line-height: 1.8em;
    top: 6px;
    right: 5px;
}

/**搜索框*/
.layuimini-container .table-search-fieldset {
    margin-bottom: 15px;
    border: 1px solid #e6e6e6;
    padding: 10px 20px 5px 20px;
    color: #6b6b6b;
}

/**自定义滚动条样式 */
::-webkit-scrollbar {
    width: 6px;
    height: 6px
}

::-webkit-scrollbar-track {
    background-color: transparent;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}

::-webkit-scrollbar-thumb {
    background-color: #9c9da0;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em
}


/**
按钮
 */
.layuimini-container .layuimini-btn-primary {
    color: #fff;
    background-color: #2c3e50;
}

.layuimini-container .layui-btn-success {
    color: #fff;
    background-color: #4bb368;
    border-color: #4bb368;
}

.layuimini-container .layui-btn-danger {
    color: #fff;
    background-color: #f56c6c;
    border-color: #f56c6c;
}

.layuimini-container .layui-table-tool .layui-btn + .layui-btn {
    margin-left: 5px;
}

.layuimini-container .layui-table-tool .layui-inline[lay-event] {
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding: 0px;
}

.layuimini-container .layui-table-tool .layui-inline .layui-icon {
    font-size: 16px;
}

.layuimini-container .layui-table-tool-self {
    right: 0px;
}

.layuimini-container .layui-table-tool {
    padding: 10px 0px;
}

.layui-btn-group .layui-btn + .layui-btn {
    margin-left: 5px;
}

/**
开关
 */
.layuimini-container .layui-form-switch {
    border: 1px solid #f56d6d;
    background-color: #f56d6d;
}

.layuimini-container .layui-form-switch em {
    color: #fff !important;
}

.layuimini-container .layui-form-switch i {
    background-color: #ffffff;
}

.layuimini-container .layui-form-onswitch {
    border-color: #1f9fff;
    background-color: #1f9fff;
}

/**
下拉选择
 */
.layuimini-container .layui-form-select dl dd.layui-this {
    background-color: #F6F6F6 !important;
}

/**
多图上传
 */
.layui-upload-drag-self {
    background-color: #fbfdff;
    border: 1px dashed #c0ccda;
    border-radius: 6px;
    box-sizing: border-box;
    width: 148px;
    height: 148px;
    line-height: 148px;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    outline: 0;
    margin-right: 13px;
    float: left;
}

.layui-input-inlines-self {
    position: relative;
    margin-left: 90px;
    min-height: 36px;
    text-align: left;
}

.layui-upload-drag-self .layui-icon {
    font-size: 28px;
    color: #8c939d
}

.layui-upload-drag-self .img {
    position: relative;
    height: 148px;
    width: 148px;
}

.layui-upload-img {
    width: 148px;
    height: 148px;
    border-radius: 6px;
    margin-top: -3px;
    margin-left: -2px;
}


.handle {
    position: absolute;
    width: 148px;
    height: 100%;
    z-index: 100;
    border-radius: 6px;
    top: 0;
    background: rgba(59, 60, 61, 0.6);
    text-align: center;
}

.handle .icon-myself {
    z-index: 999;
    transition: all .3s;
    cursor: pointer;
    font-size: 25px;
    width: 25px;
    color: rgba(255, 255, 255, 0.91);
    margin: 0 4px;
}

/*分页*/
.page {
    margin-top: 20px;
    text-align: center;
}

.page a {
    display: inline-block;
    background: #fff 0 0 no-repeat;
    color: #888;
    padding: 10px;
    min-width: 15px;
    border: 1px solid #E2E2E2;
}

.page span {
    display: inline-block;
    padding: 10px;
    min-width: 15px;
    border: 1px solid #E2E2E2;
}

.page span.current {
    display: inline-block;
    background: #009688 0 0 no-repeat;
    color: #fff;
    padding: 10px;
    min-width: 15px;
    border: 1px solid #009688;
}

.page .pagination li {
    display: inline-block;
    margin-right: 5px;
    text-align: center;
}

.page .pagination li.active span {
    background: #009688 0 0 no-repeat;
    color: #fff;
    border: 1px solid #009688;
}

body .layuimini-container .hui-form-search {
}

body .layuimini-container .hui-form-search .layui-input, .layui-select {
    height: 30px;
}

body .skin-layer-hui .layui-layer-title {
    background: #2c3e50;
    color: #fff;
    border: none;
}

body .skin-layer-hui .layui-layer-btn {
    border: 0px solid #E9E7E7
}

body .skin-layer-hui .layui-layer-btn a {
    background: #1E9FFF;
}

body .skin-layer-hui .layui-layer-btn .layui-layer-btn1 {
    background: #95a5a6;
    color: #fff;
}

body .layui-table thead th {
    font-weight: bold;
}

body .layui-layer-close11 {
    background-position: -80px -40px
}

body .readonly_bg {
    background: #eee;
}

body .layui-btn-zise {
    background-color: #d773e6;
}

body .layui-btn-fense {
    background-color: rgba(245, 131, 163, 0.91);
}

body .layui-btn-lvse {
    background-color: #87bc3f;
}

body .readonly-bg {
    background: rgba(238, 238, 238, 0.76);
}

body .layui-form-select .layui-input {
    padding-right: 0
}

/* 文件库 */
.file-library .layui-layer-content .file-group {
    float: left;
    width: 150px;
    padding-bottom: 10px;
}

.file-library .layui-layer-content .file-group .nav-new {
    overflow-y: auto;
    max-height: 340px;
}

.file-library .layui-layer-content .file-group .nav-new li {
    position: relative;
    margin: 3px 0;
    padding: 8px 23px;
}

.file-library .layui-layer-content .file-group .nav-new li a i.iconfont {
    font-size: 14px;
}

.file-library .layui-layer-content .file-group .nav-new li a.group-name {
    color: #595961;
    font-size: 13px;
    margin-left: 10px;
}

.file-library .layui-layer-content .file-group .nav-new li a.group-edit {
    display: none;
    position: absolute;
    left: 6px;
    top: 10px;
}

.file-library .layui-layer-content .file-group .nav-new li a.group-delete {
    display: none;
    position: absolute;
    right: 10px;
    top: 10px;
}

.file-library .layui-layer-content .file-group .nav-new li:hover, .file-library .layui-layer-content .file-group .nav-new li.active {
    background: rgba(48, 145, 242, 0.1);
    border-radius: 6px;
}

.file-library .layui-layer-content .layui-btn-group ul li dl dd {
    margin: 0
}

.file-library .layui-layer-content .file-group .nav-new li:hover .group-name, .file-library .layui-layer-content .file-group .nav-new li.active .group-name {
    color: #0e90d2;
}

.file-library .layui-layer-content .file-group .nav-new li:hover .group-edit, .file-library .layui-layer-content .file-group .nav-new li:hover .group-delete {
    display: inline;
}

.file-library .layui-layer-content .file-group a.group-add {
    display: block;
    margin-top: 18px;
    font-size: 12px;
    padding: 0 30px;
}

.file-library .layui-layer-content .file-group a.group-add:hover {
    color: #0e90d2
}

.file-library .layui-layer-content .file-list {
    float: left;
}

.file-library .layui-layer-content .file-list .v-box-header {
    padding: 0 20px 0 10px;
    margin-bottom: 10px;
}

.file-library .layui-layer-content .file-list .v-box-header .h-left .tpl-table-black-operation {
    margin: 0 10px;
}

.file-library .layui-layer-content .file-list .v-box-header .h-left .tpl-table-black-operation a {
    padding: 6px 10px;
}

.file-library .layui-layer-content .file-list .v-box-header .h-left .am-dropdown-toggle {
    font-size: 12px;
}

.file-library .layui-layer-content .file-list .v-box-header .h-left .am-dropdown-content a {
    font-size: 13px;
}

.file-library .layui-layer-content .file-list .v-box-header .h-rigth .upload-image .iconfont {
    font-size: 12px;
}

.file-library .layui-layer-content .v-box-body {
    max-width: 660px;
}

.file-library .layui-layer-content .v-box-body ul.file-list-item {
    overflow-y: auto;
    height: 373px;
    margin-top: 20px
}

.file-library .layui-layer-content .v-box-body ul.file-list-item li {
    position: relative;
    cursor: pointer;
    border-radius: 6px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    float: left;
    margin: 10px;
    height: 145px;
    -webkit-transition: All 0.2s ease-in-out;
    -moz-transition: All 0.2s ease-in-out;
    -o-transition: All 0.2s ease-in-out;
    transition: All 0.2s ease-in-out;
}

.file-library .layui-layer-content .v-box-body ul.file-list-item li:hover {
    border: 1px solid #16bce2;
}

.file-library .layui-layer-content .v-box-body ul.file-list-item li .img-cover {
    width: 120px;
    height: 120px;
    background: no-repeat center center / 100%;
}

.file-library .layui-layer-content .v-box-body ul.file-list-item li p.file-name {
    margin: 5px 0 0 0;
    width: 120px;
    font-size: 13px;
}

.file-library .layui-layer-content .v-box-body ul.file-list-item li.active .select-mask {
    display: block;
}

.file-library .layui-layer-content .v-box-body ul.file-list-item li .select-mask {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    border-radius: 6px;
}

.file-library .layui-layer-content .v-box-body ul.file-list-item li .select-mask img {
    position: absolute;
    top: 50px;
    left: 45px;
}

.file-library .layui-layer-content .v-box-body ul.pagination {
    margin: 0;
}

.file-library .layui-layer-content .v-box-body ul.pagination > li > a, .file-library .layui-layer-content .v-box-body ul.pagination > li > span {
    padding: 3px 9px;
    font-size: 13px;
}

.am-ellipsis, .am-text-truncate {
    word-wrap: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 4px 12px;
    line-height: 1.42857143;
    color: #23abf0;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 0 2px;
}

.am-dropdown {
    position: relative;
    display: inline-block;
}

.am-dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1020;
    display: none;
    float: left;
    min-width: 160px;
    margin: 9px 0 0;
    text-align: left;
    line-height: 1.6;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-animation-duration: .15s;
    animation-duration: .15s;
}

.am-dropdown-header {
    display: block;
    padding: 6px 20px;
    font-size: 12px;
    color: #999;
}

.am-dropdown-content :first-child {
    margin-top: 0;
}

ul.am-dropdown-content > li > a {
    display: block;
    padding: 5px 20px;
    clear: both;
    font-weight: 400;
    color: #333;
    font-size: 13px;
    white-space: nowrap;
}

ul.am-dropdown-content > li > a:focus, ul.am-dropdown-content > li > a:hover {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
}

.am-dropdown-content:after, .am-dropdown-content:before {
    position: absolute;
    display: block;
    content: "";
    width: 0;
    height: 0;
    border: 8px dashed transparent;
    z-index: 1;
}

.am-dropdown-content:after, .am-dropdown-content:before {
    left: 10px;
    top: -16px;
    pointer-events: none;
}

.am-dropdown-content:before {
    border-bottom-color: #ddd;
    bottom: 0;
}

/* 图片上传*/
.uploader-list .file-item {
    float: left;
    width: 100px;
    position: relative;
    margin: 20px 20px 0 0;
    padding: 4px;
    border: 1px solid #ddd;
    background: #fff;
}

.uploader-list .file-item img {
    width: 100px;
    height: 100px;
}

.uploader-list .file-item .error {
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    background: red;
    color: white;
    text-align: center;
    height: 20px;
    font-size: 1.3rem;
    line-height: 23px;
}

.uploader-list .file-item:hover .file-item-delete {
    display: block;
}

.uploader-list .file-item .file-item-delete {
    position: absolute;
    top: -10px;
    right: -10px;
    cursor: pointer;
    height: 22px;
    width: 22px;
    line-height: 22px;
    background: rgba(153, 153, 153, 0.7);
    border-radius: 50%;
    text-align: center;
    color: #fff !important;
    display: none;
}

.uploader-list .file-item .file-item-delete:hover {
    background: #000;
}
