body {
    width: 98.8%;
    margin: 0.6%;
    background: #f2f2f2;
}

.layuimini-container {
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    background-color: #ffffff
}

.layuimini-main {
    margin: 10px 10px 10px 10px;
}

/**必填红点 */
.layuimini-form > .layui-form-item > .required:after {
    content: '*';
    color: red;
    position: absolute;
    margin-left: 4px;
    font-weight: bold;
    line-height: 1.8em;
    top: 6px;
    right: 5px;
}

.layuimini-form > .layui-form-item > .layui-form-label {
    width: 120px !important;
}

.layuimini-form > .layui-form-item > .layui-input-block {
    margin-left: 150px !important;
}

.layuimini-form > .layui-form-item > .layui-input-block > tip {
    display: inline-block;
    margin-top: 10px;
    line-height: 10px;
    font-size: 10px;
    color: #a29c9c;
}

.layuimini-form > .layui-form-item .required:after {
    content: '*';
    color: red;
    position: absolute;
    margin-left: 4px;
    font-weight: bold;
    line-height: 1.8em;
    top: 6px;
    right: 5px;
}

/**搜索框*/
.layuimini-container .table-search-fieldset {
    margin-bottom: 15px;
    border: 1px solid #e6e6e6;
    padding: 10px 20px 5px 20px;
    color: #6b6b6b;
}

/**自定义滚动条样式 */
::-webkit-scrollbar {
    width: 6px;
    height: 6px
}

::-webkit-scrollbar-track {
    background-color: transparent;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}

::-webkit-scrollbar-thumb {
    background-color: #9c9da0;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em
}


/**
按钮
 */
.layuimini-container .layuimini-btn-primary {
    color: #fff;
    background-color: #2c3e50;
}

.layuimini-container .layui-btn-success {
    color: #fff;
    background-color: #4bb368;
    border-color: #4bb368;
}

.layuimini-container .layui-btn-danger {
    color: #fff;
    background-color: #f56c6c;
    border-color: #f56c6c;
}

.layuimini-container .layui-table-tool .layui-btn + .layui-btn {
    margin-left: 5px;
}

.layuimini-container .layui-table-tool .layui-inline[lay-event] {
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding: 0px;
}

.layuimini-container .layui-table-tool .layui-inline .layui-icon {
    font-size: 16px;
}

.layuimini-container .layui-table-tool-self {
    right: 0px;
}

.layuimini-container .layui-table-tool {
    padding: 10px 0px;
}

.layui-btn-group .layui-btn + .layui-btn {
    margin-left: 5px;
}

/**
开关
 */
.layuimini-container .layui-form-switch {
    border: 1px solid #f56d6d;
    background-color: #f56d6d;
}

.layuimini-container .layui-form-switch em {
    color: #fff !important;
}

.layuimini-container .layui-form-switch i {
    background-color: #ffffff;
}

.layuimini-container .layui-form-onswitch {
    border-color: #1f9fff;
    background-color: #1f9fff;
}

/**
下拉选择
 */
.layuimini-container .layui-form-select dl dd.layui-this {
    background-color: #1e9fff !important;
}

/**
多图上传
 */
.layui-upload-drag-self {
    background-color: #fbfdff;
    border: 1px dashed #c0ccda;
    border-radius: 6px;
    box-sizing: border-box;
    width: 148px;
    height: 148px;
    line-height: 148px;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    outline: 0;
    margin-right: 13px;
    float: left;
}

.layui-input-inlines-self {
    position: relative;
    margin-left: 90px;
    min-height: 36px;
    text-align: left;
}

.layui-upload-drag-self .layui-icon {
    font-size: 28px;
    color: #8c939d
}

.layui-upload-drag-self .img {
    position: relative;
    height: 148px;
    width: 148px;
}

.layui-upload-img {
    width: 148px;
    height: 148px;
    border-radius: 6px;
    margin-top: -3px;
    margin-left: -2px;
}


.handle {
    position: absolute;
    width: 148px;
    height: 100%;
    z-index: 100;
    border-radius: 6px;
    top: 0;
    background: rgba(59, 60, 61, 0.6);
    text-align: center;
}

.handle .icon-myself {
    z-index: 999;
    transition: all .3s;
    cursor: pointer;
    font-size: 25px;
    width: 25px;
    color: rgba(255, 255, 255, 0.91);
    margin: 0 4px;
}

/*分页*/
.page {
    margin-top: 20px;
    text-align: center;
}

.page a {
    display: inline-block;
    background: #fff 0 0 no-repeat;
    color: #888;
    padding: 10px;
    min-width: 15px;
    border: 1px solid #E2E2E2;
}

.page span {
    display: inline-block;
    padding: 10px;
    min-width: 15px;
    border: 1px solid #E2E2E2;
}

.page span.current {
    display: inline-block;
    background: #009688 0 0 no-repeat;
    color: #fff;
    padding: 10px;
    min-width: 15px;
    border: 1px solid #009688;
}

.page .pagination li {
    display: inline-block;
    margin-right: 5px;
    text-align: center;
}

.page .pagination li.active span {
    background: #009688 0 0 no-repeat;
    color: #fff;
    border: 1px solid #009688;
}

body .layuimini-container .hui-form-search {
}

body .layuimini-container .hui-form-search .layui-input, .layui-select {
    height: 30px;
}

body .skin-layer-hui .layui-layer-title {
    background: #2c3e50;
    color: #fff;
    border: none;
}

body .skin-layer-hui .layui-layer-btn {
    border: 0px solid #E9E7E7
}

body .skin-layer-hui .layui-layer-btn a {
    background: #1E9FFF;
}

body .skin-layer-hui .layui-layer-btn .layui-layer-btn1 {
    background: #95a5a6;
    color: #fff;
}

body .layui-table thead th {
    font-weight: bold;
}

body .layui-layer-close11 {
    background-position: -80px -40px
}

body .readonly_bg {
    background: #eee;
}

body .layui-btn-zise {
    background-color: #d773e6;
}

body .layui-btn-fense {
    background-color: rgba(245, 131, 163, 0.91);
}

body .layui-btn-lvse {
    background-color: #87bc3f;
}

body .readonly-bg {
    background: rgba(238, 238, 238, 0.76);
}