<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>HuiCMF后台管理系统</title>
    <link rel="stylesheet" href="__LIB__/layui-v2.6.7/css/layui.css" media="all">
    <link rel="stylesheet" href="__STATIC_ADMIN__/css/layuimini.css?v=2.0.4.2" media="all">
    <link rel="stylesheet" href="__STATIC_ADMIN__/css/themes/default.css" media="all">
    <link rel="stylesheet" href="__LIB__/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
    <link rel="stylesheet" href="__STATIC_ADMIN__/css/public.css" media="all">
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>