{include file='header'/}
<title>添加内容</title>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <form class="layui-form layuimini-form" action="{:__url('content.article/add')}" method="post">
            <div class="layui-form-item">
                <label class="layui-form-label required">标题</label>
                <div class="layui-input-block">
                    <input type="text" id="title" name="title" value="" lay-verify="required" autocomplete="off"
                           class="layui-input" lay-reqtext="标题不能为空">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">缩略图</label>
                <div class="layui-input-block">
                    <div class="layui-input-inline" style="width: 50%">
                        <input type="text" name="demo1" value="" onmouseover="hui_img_preview('demo1',this.value)"
                               onmouseout="layer.closeAll();" id="demo1" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-input-inline" style="width: 120px">
                        <button type="button" class="layui-btn" id="test1"><i class="layui-icon">&#xe67c;</i>上传图片
                        </button>
                    </div>
                    <div class="layui-input-inline" style="width: 120px">
                        <button type="button" class="layui-btn layui-btn-normal"
                                onclick="WeAdminShow('选择图片','{:__url('general.attachment/select',[\'id\'=>\'demo1\'])}','800')">
                            <i class="layui-icon">&#xe605;</i>选择图片
                        </button>
                    </div>
                    <div class="layui-input-inline" style="width: 120px">
                        <button type="button" class="layui-btn layui-btn-fense" id="pic_cropper"
                                onclick="hui_img_cropper('demo1','{:__url(\'upload/img_cropper\')}')"><i
                                class="layui-icon layui-icon-picture"></i>裁剪图片
                        </button>
                    </div>
                </div>
            </div>

            <div class="layui-form-item" id="imgItem">
                <label class="layui-form-label">上传图片：</label>
                <button type="button" id="importModel" class="layui-hide">图片导入</button>
                <div class="layui-input-inlines-self" id="imgItemInfo">
                    <div class="layui-upload-drag-self" id="importImg0">
                        <div id="imgDivs0">
                            <i class="layui-icon" id="uploadIcon0"> &#xe624; </i>
                        </div>
                        <div class="img layui-hide" id="uploadDemoView0">
                            <img class="layui-upload-img" id="imgs0" src="">
                            <div class="handle layui-hide" id="handle0">
                                <i class="layui-icon layui-icon-picture-fine" id="preImg0" style="color:#fff"></i>
                                <i class="layui-icon layui-icon-delete" id="delImg0" style="color:#fff"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">内容</label>
                <div class="layui-input-block">
                    {php}echo lib\Form::editor('content',$val='', 'width:100%;height:400px');{/php}
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"></label>
                <div class="layui-input-block">
                    <input type="checkbox" name="auto_thum" value="1" title="提取内容第一张图片为缩略图" lay-skin="primary">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-sm" lay-filter="doSub" lay-submit>立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>
{include file='footer'/}
<script>
  layui.use(['form', 'jquery', 'upload'], function () {
    let form = layui.form, $ = layui.jquery, upload = layui.upload;
    form.render();

    $(document).on('click', '[id^=delImg]', function () {
      var importImgF = $('#imgItemInfo').find('div:first');//importImg0、importImg1、importImg2
      var empt = $(this).parent().parent().parent();//importImg0、importImg1、importImg2
      var nextImgSrc = $(this).parent().parent().parent().next().find('img').attr('src');//src
      //判断当前DIV后面的div的url是否为空
      if (!nextImgSrc) {
        //判断是否为第一个
        if (importImgF.attr('id') === empt.attr('id')) {
          //-是 ，清空第一个 最后面的删除
          //图片url清空
          empt.find('img').attr('src', '');
          $(this).parent().parent().addClass('layui-hide');
          importImgF.find('i:first').removeClass('layui-hide');
          count--;
          $('#' + 'importImg' + count).remove();
        } else {
          // -否，删除当前
          empt.remove();
        }
      } else {
        //如果有值删除当前div
        empt.remove();
      }
      return false;
    });

    //图片预览
    $(document).on('click', '[id^=preImg]', function () {
      var iHtml = "<img src='" + $(this).parent().parent().find('img:first').attr('src') + "' style='width: 100%; height: 100%;'/>";
      layer.open({
        type: 1,
        shade: false,
        title: false, //不显示标题
        area: ['50%', '50%'],
        content: iHtml //捕获的元素，注意：最好该指定的元素要存放在body最外层，否则可能被其它的相对元素所影响
      });
      return false;
    });

    //图片绑定鼠标悬浮
    $(document).on("mouseenter", ".img", function () {
      //鼠标悬浮
      $(this).find('div:first').removeClass('layui-hide');
    }).on("mouseleave", ".img", function () {
      //鼠标离开
      $(this).find('div:first').addClass('layui-hide');
    });

    var imgsId,
      uploadDemoViewId,
      uploadIconId;
    var count = 1;

    $(document).on('click', '[id^=imgDivs]', function () {
      if (count > 5) {
        layer.msg('最多上传5张', {icon: 2});
        return false;
      }
      //给id赋值
      uploadIconId = $(this).find('i').attr('id');
      uploadDemoViewId = $(this).next().attr('id');
      imgsId = $(this).next().find('img').attr('id');
      $('#importModel').click();
    });

    upload.render({
      elem: '#importModel'
      , multiple: true
      , url: "{:__url('upload/index',['save_path'=>'images'])}"
      , before: function (obj) {
        obj.preview(function (index, file, result) {

        });
      }
      , done: function (res) {
        if (res.code !== 1) {
          return layer.msg(res.msg, {icon: 2})
        }
        $('#' + imgsId).attr('src', res.url);
        $('#' + uploadDemoViewId).removeClass('layui-hide');
        $('#' + uploadIconId).addClass('layui-hide');
        $('#imgItemInfo').append(
          '<div class="layui-upload-drag-self" id="importImg' + count + '">' +
          '<div id="imgDivs' + count + '">' +
          '<i class="layui-icon" id="uploadIcon' + count + '"> &#xe624; </i>' +
          '</div>' +
          '<div class="img layui-hide" id="uploadDemoView' + count + '">' +
          '<img class="layui-upload-img" id="imgs' + count + '" src="">' +
          '<div class="handle layui-hide" id="handle' + count + '">' +
          '<i class="layui-icon layui-icon-picture-fine" id="preImg' + count + '" style="color:#fff"></i>' +
          '<i class="layui-icon layui-icon-delete" id="delImg' + count + '" style="color:#fff"></i>' +
          '</div>' + '</div>' + '</div>'
        );
        count++;
      }
    });

  });
</script>

</body>
</html>