{include file='header'/}
<title>编辑菜单</title>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <form class="layui-form layuimini-form" action="{:__url('system.menu/edit')}" method="post">
            <div class="layui-form-item">
                <label class="layui-form-label required">上级菜单</label>
                <div class="layui-input-block">
                    <select name="pid">
                        {foreach $pidMenuList as $vo}
                        <option value="{$vo.id}" {if $data.pid==$vo.id}selected=""{/if}>{$vo.title|raw}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">菜单名称</label>
                <div class="layui-input-block">
                    <input type="text" name="title" autocomplete="off" lay-reqtext="请输入菜单名称" placeholder="请输入菜单名称"
                           class="layui-input" lay-verify="required" value="{$data.title}">
                    <tip>填写菜单名称。</tip>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">菜单链接</label>
                <div class="layui-input-block">
                    <input type="text" name="href" autocomplete="off" placeholder="请输入菜单链接" class="layui-input" value="{$data.href}">
                    <tip>请填写菜单链接</tip>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">选择图标</label>
                <div class="layui-input-block">
                    <input type="text" id="iconPicker" name="icon" lay-filter="iconPicker" class="hide"
                           value="{$data.icon|default=''}">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label required">target属性</label>
                <div class="layui-input-block">
                    {foreach ['_self','_blank','_parent','_top'] as $vo}
                    <input type="radio" name="target" value="{$vo}" title="{$vo}" {if $data.target==$vo}checked=""{/if}>
                    {/foreach}
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">菜单排序</label>
                <div class="layui-input-block">
                    <input type="number" name="sort" autocomplete="off" placeholder="请输入菜单排序"
                           class="layui-input" lay-verify="required" value="{$data.sort}">
                </div>
            </div>

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">备注信息</label>
                <div class="layui-input-block">
                    <textarea name="remark" class="layui-textarea" placeholder="请输入备注信息">{$data.remark}</textarea>
                </div>
            </div>
            <input type="hidden" id="id" name="id" value="{$data.id}">
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-sm" lay-filter="doSub" lay-submit>立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
                </div>
            </div>
        </form>

    </div>
</div>
{include file='footer'/}
</body>
</html>