{include file='header'/}
<title>添加管理员</title>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <form class="layui-form layuimini-form" action="javascript:;" method="post" onsubmit="return dosub(this)">
            <div class="layui-form-item">
                <label class="layui-form-label required">当前积分</label>
                <div class="layui-input-block">
                    <input type="number" value="{$data.point|default=0}" autocomplete="off" class="layui-input readonly-bg" readonly>
                    <tip>正数为加，负数为减</tip>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">变动积分</label>
                <div class="layui-input-block">
                    <input type="number" id="point" name="point" value="" lay-verify="required" autocomplete="off"
                           class="layui-input" lay-reqtext="变动积分不能为空">
                    <tip>正数为加，负数为减</tip>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">变动说明</label>
                <div class="layui-input-block">
                    <input type="text" id="remarks" name="remarks" value="" lay-verify="required" autocomplete="off"
                           class="layui-input" lay-reqtext="变动说明">
                </div>
            </div>
            <input type="hidden" id="user_id" name="user_id" value="{$data.id}">
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-sm" lay-submit="">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
                </div>
            </div>

        </form>
    </div>
</div>
{include file='footer'/}
<script>
  layui.use(['form', 'jquery'], function () {
    var form = layui.form, $ = layui.jquery;
    form.render();
    window.dosub = function (obj) {
      HuiDoSub($(obj).serialize(), "{:__url('user.point/edit')}");
    }
  });

</script>
</body>
</html>